/node_modules/
/public/build/

.DS_Store

/src/ad4m/*.js
/src/core/*.js
/src/core/**/*.js
/src/**/*.js.map
/src/languages/**/*.js
/src/languages/**/*.js.map
/src/languages/**/build
/src/languages/**/node_modules
/src/languages/**/hc-dna/target
/src/languages/**/hc-dna/tests/node_modules
/src/languages/**/hc-dna/*.dna
/src/stores/LinksStore.js

holochain
lair-keystore

Perspectivism-linux-x64