@font-face {
    font-family: Monoton;
    src: url(fonts/Monoton/Monoton-Regular.ttf);
}

.title {
    position: absolute;
    left: 100px;
    top: 15px;
    font-size: 56px;
    font-family: Monoton;
    color: white;
}

.attribution {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 8px;
}